.bodyHome{
    width: 100%;
    height: 86vh;
    background-image: url('home2.jpg');
    background-color: black;
    border-top: solid;

}
.bungkusWelcome{
    color:whitesmoke
}
.welcomeNexchief{
    text-align: center;
    border:transparent;
    width: 60%;
    height: 55vh;
    margin:auto;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}
.labelWeclome{
    margin-top: 20%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: xx-large;
}

/* sadadas */
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.bdyhome{
  width: 100%;
  height: 86vh;
  display: flex;
  background-color: #282c34;
}

.bodyKiriHome{
  width: 19%;
  height: 86vh;
}

.bodyKananHome{
  width: 81%;
  height: 86vh;
  
}
.bodyCarousell{
  width: 80%;
  height: 35vh;
  
}

.sliderimg{
  margin-top: 3%;
  width: 99%;
  height: 20vh;
  border-style: solid;
  border-radius: 10%;

}

.bodyhomebawah{
  width: 79%;
  height: 40vh;
}
.bodyhomebawahHeader{
  border-style: solid;
  width: 100%;
  height: 7vh;
  background-color: #060B26;
}

.bodyhomebawahIsi{
  border-style: solid;
  width: 100%;
  height: 30vh;
  display: flex;
}
.bodyhomebawahIsiSemua{
  margin:auto;
  margin-top: 3%;
  width: 30%;
  height: 20vh;
}
.bodyhomebawahIsiSemuaHeader{
  border-style: solid;
  padding-top: 1%;
  width: 100%;
  height: 5vh;
  background-color: #060B26;
}
.bodyhomebawahIsiSemuaHeaderBawah{
  border-style: solid;
  width: 100%;
  height: 16vh;
  display: flex;
}
.bodyhomebawahIsiSemuaHeaderBawahKiri{
  width: 30%;
}

.bodyhomebawahIsiSemuaHeaderBawahKanan{
  width: 70%;
}
.labelNexChief1{
  font-size: 30px;
  color:white;
  font-family: '-moz-initial'
}
.labelNex1{
  font-size: 30px;
  color:blue;
  font-family: '-moz-initial'
}
.labelHomeAdmin{
  font-size: 20px;
  color:white;
  font-family: '-moz-initial';
  margin-left: 2%;
}