.bodyHome{
    width: 100%;
    height: 86vh;
    background-image: url('home2.jpg');
    border-top: solid;
}
.bungkusWelcome{
    color:whitesmoke
}
.welcomeNexchief{
    text-align: center;
    border:transparent;
    width: 60%;
    height: 55vh;
    margin:auto;
}
.labelWeclome{
    margin-top: 20%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: xx-large;
}


