.header{
    width: 98%;
    height: 10vh;
    background-color:grey ;
    padding: 10px;
}

.thisHeader{
    margin-left: 75%;
    margin-top: 10px;
}
.welcome{
    margin-bottom: 100px;
}
.bungkusWelcome{
    float: left;

}
.thisLogout{
    float: right;
    margin-left: 40px;
}