.bodyPrin{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
}
.prinAtas{
    width: 100%;
    height: 6vh;
}
.SeacrhPrin{
    margin-left: 1%;
    margin-top: 5px;
    width: 20%;
    height: 20px;
    font-size: larger;
    border-radius: 10px;
    margin-right: 50%;
}
.crudPrin{
    display: inline-block;
    width: 65px;
    height: 20px;
    background-color: grey;
   
    margin-right: 1px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
   font-weight: bold;
}
.crudPrin:hover{
    background-color: darkgray;
}
.crudPrin:active{
    background-color: #3A539B;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.prinKiri{
    width: 30%;
    border-style: solid;
    height: 80vh;
    background-color: black;
}
.prinKiriTabel{
    width: 100%;
    border-style: solid;
    height: 68vh;
    overflow-y:scroll;
    background-color: black;
    border-bottom-color: white;
}


.prinisiTable{
    width: 96%;
    height: 11vh;
    border-color: white;
    border-style: solid;
    background-color: #696969;
    padding:5px;
    display: flex;
    flex-direction: row;
}
.prinisiTable:active{
    background-color: #3A539B;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* .prinTable{

} */
.prinlabelTabel{
    margin-top: 10px;
    margin-left: 10%;
    color: white;
}

.prinKanan{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 80vh;
}
.prinKiriLabel{
    padding-top: 1px;
    padding-left: 2px;
    width: 30%;
    border-style: solid;
    height: 80vh;
    background-color: black;
}
.prinKananInput{
    width: 70%;
    height: 81vh;
    background-color: gray;
}
.labelprin{
    color: white;
    display:inline-block;
    width: 100%;
    height: 25px;
    border-bottom-style: solid;
}
.prinForm{
    width: 500px;
    height: 23px;
}
.prinAlamat{
    height:46px;
    resize: none;
}
.spaceAlamat{
    margin-bottom: 0px;
}

div[disabled]
{
  pointer-events: none;
  opacity: 0.7;

}
.prinKiriPagin{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}